html,
body {
  height: 100%;
}

.form-signin {
  max-width: 500px;
  padding: 1rem;
}

.add-form {
  max-width: 500px;
  padding: 1rem;
}

.delete-content {
	max-width: 500px;
	padding: 1rem;
}

.r-view {
	max-width: 500px;
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

a:hover {
	text-decoration: none !important;
}

input {
	margin: 3px;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/*


glass btn danger and success:

*/
.glass-btn-success {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(89, 222, 113, 1);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(89, 222, 113, 1);

  transition: background .8s;
  transition-timing-function: ease;
}

.glass-btn-success:hover {
  background: rgba(89, 222, 113, 1);
  color: rgba(255, 2555, 255, 1);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(89, 222, 113, 1);
}

.glass-btn-danger {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(88, 52, 194, 1);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(88, 52, 194, 1);

  transition: background .8s;
  transition-timing-function: ease;
}

.glass-btn-danger:hover {
  background: rgba(88, 52, 194, 1);
  color: rgba(255, 2555, 255, 1);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(88, 52, 194, 1);
}
/*

Glass table

*/
.table, table, td, tr, th, thead, tbody {
  background: rgba(255, 255, 255, 0.1) !important;
  /*border-radius: 16px !important;*/
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.card.glass {
  box-shadow: 3px 3px 15px #c9edcf;
}

.card.glass:hover {
  box-shadow: 3px 3px 30px #c9edcf;
}

.bg-background {
  background-image: url('../images/circles.png');
  background-repeat: no-repeat; 
  background-size: contain; 
  background-position-y: center;
  background-position-x: center;
}

.table {
  box-shadow: 3px 3px 15px #c9edcf;
}

.table:hover {
  box-shadow: 3px 3px 30px #c9edcf;
}

.list-group-item {
  background-color: transparent; !important;
}